parameters:
	ignoreErrors:
		-
			message: "#^Method Demv\\\\Werte\\\\Adresse\\\\AdressTypen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Adresse\\\\AdressTypInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Adresse/AdressTypen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Altersvorsorge\\\\AnlegerOrientierungen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Altersvorsorge\\\\AnlegerOrientierungInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Altersvorsorge/AnlegerOrientierungen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Altersvorsorge\\\\Prioritaeten\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Altersvorsorge\\\\PrioritaetenInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Altersvorsorge/Prioritaeten.php

		-
			message: "#^Method Demv\\\\Werte\\\\Altersvorsorge\\\\Produkterfahrung\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Altersvorsorge\\\\ProdukterfahrungInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Altersvorsorge/Produkterfahrung.php

		-
			message: "#^Method Demv\\\\Werte\\\\Altersvorsorge\\\\Produktwissen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Altersvorsorge\\\\ProduktwissenInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Altersvorsorge/Produktwissen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Altersvorsorge\\\\ProduktwissenInfo\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Altersvorsorge\\\\ProduktwissenInfoInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Altersvorsorge/ProduktwissenInfo.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge expects array, array\\|TReturn given\\.$#"
			count: 1
			path: src/Werte/Bedarf/Thema/Bedarfsthemen.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(Demv\\\\Werte\\\\ValueInterface\\)\\: bool\\)\\|null, Closure\\(Demv\\\\Werte\\\\Bedarf\\\\Thema\\\\Bedarfsthema\\)\\: bool given\\.$#"
			count: 1
			path: src/Werte/Bedarf/Thema/Bedarfsthemen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Dokumente\\\\Dokumenttypen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Dokumente\\\\DokumenttypInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Dokumente/Dokumenttypen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Fahrzeug\\\\FahrzeugTypen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Fahrzeug\\\\FahrzeugTypInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Fahrzeug/FahrzeugTypen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Hobby\\\\Hobbies\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Hobby\\\\HobbyInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Hobby/Hobbies.php

		-
			message: "#^Method Demv\\\\Werte\\\\Immobilie\\\\Typ\\\\ImmobilienTypen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Immobilie\\\\Typ\\\\ImmobilienTypInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Immobilie/Typ/ImmobilienTypen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Kraftstoff\\\\Kraftstoffe\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Kraftstoff\\\\KraftstoffInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Kraftstoff/Kraftstoffe.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Anrede\\\\Anreden\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Anrede\\\\AnredeInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Anrede/Anreden.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Beziehung\\\\Beziehungstypen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Beziehung\\\\BeziehungsTypInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Beziehung/Beziehungstypen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Bildungsabschluss\\\\Bildungsabschluss\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Bildungsabschluss\\\\BildungsabschlussInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Bildungsabschluss/Bildungsabschluss.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\BuMoeglichkeit\\\\BuMoeglichkeiten\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\BuMoeglichkeit\\\\BuMoeglichkeitInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/BuMoeglichkeit/BuMoeglichkeiten.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Familienstand\\\\Familienstaende\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Familienstand\\\\FamilienstandInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Familienstand/Familienstaende.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Raucherstatus\\\\Raucherstatus\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Raucherstatus\\\\RaucherstatusInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Raucherstatus/Raucherstatus.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Taetigkeitsstatus\\\\Taetigkeitsstatus\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Taetigkeitsstatus\\\\TaetigkeitsstatusInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Taetigkeitsstatus/Taetigkeitsstatus.php

		-
			message: "#^Method Demv\\\\Werte\\\\Person\\\\Wohnsituation\\\\Wohnsituationen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Person\\\\Wohnsituation\\\\WohnsituationInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Person/Wohnsituation/Wohnsituationen.php

		-
			message: "#^Method Demv\\\\Werte\\\\Sparte\\\\Krankenversicherung\\\\Krankenversicherung\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Sparte\\\\Krankenversicherung\\\\KrankenversicherungInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Sparte/Krankenversicherung/Krankenversicherung.php

		-
			message: "#^Method Demv\\\\Werte\\\\Tierart\\\\Tierarten\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Tierart\\\\TierartInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Tierart/Tierarten.php

		-
			message: "#^Method Demv\\\\Werte\\\\Vorgang\\\\VorgangTypen\\:\\:getOne\\(\\) should return Demv\\\\Werte\\\\Vorgang\\\\VorgangTypInterface but returns mixed\\.$#"
			count: 1
			path: src/Werte/Vorgang/VorgangTypen.php
